VITE_FIREBASE_API_KEY= "AIzaSyCTFNZKXt8dANQJ3pGT64AT_pmyESGcrPI"
VITE_FIREBASE_AUTH_DOMAIN= "carecircle-4dc64.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID= "carecircle-4dc64"
VITE_FIREBASE_STORAGE_BUCKET= "carecircle-4dc64.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID= "814370855081"
VITE_FIREBASE_APP_ID= "1:814370855081:web:c6a5bc32af18f9df2b31b8"
VITE_FIREBASE_MEASUREMENT_ID= "G-1T1VRTDVYX"
