.sidenav {
    width: 280px;
    height: 100vh;
    background-color: var(--color-dark);
    color: var(--color-gray-400);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xl) var(--spacing-lg);
    position: sticky;
    top: 0;
    border-top-right-radius: var(--radius-xl);
    border-bottom-right-radius: var(--radius-xl);
}

.sidenav__logo {
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-2xl);
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.sidenav__logo-dot {
    position: relative;
    top: -5px;
    font-size: 8px;
    
}


.sidenav__section-title {
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: var(--spacing-md);
    margin-top: var(--spacing-lg);
    color: var(--color-gray-500);
}

.sidenav__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.sidenav__item {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border-radius: var(--radius-lg);
    cursor: pointer;
    transition: all var(--transition-base);
    color: inherit;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
}

.sidenav__item:hover {
    background-color: var(--color-dark-light);
    color: var(--color-white);
}

.sidenav__item--active {
    background-color: var(--color-dark-light);
    color: var(--color-white);
    position: relative;
}
.sidenav__icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav__spacer {
    flex-grow: 1;
}

.sidenav__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}